*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Roboto';
}


.navbar{
  background-color: rgb(41, 41, 41);
  display: flex;
  height: 80px;
  font-size: 3rem;
  margin-top: 1px;
}

.navbar-title{
  display: block;
  padding: 2rem;
  text-indent: 30px;
  font-size: 3.5rem;
  text-decoration: none;
  color: rgb(39, 222, 39);
}

.main{
  padding-top: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 750px;
  
}



.main-objects{
  display: flex;
  margin: 30px;
  background-color: red;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  min-width: 250px;
  border: 3px solid rgb(39, 222, 39);
}

.container-text {
  font-size: 2.5rem;
  padding: 20px;
  text-decoration: none;
  color: rgb(39, 222, 39);
}

.lunes{
  background-image: url(/sources/brazo.jpeg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

