*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Roboto';
}

.navbar{
  background-color: rgb(41, 41, 41);
  display: flex;
  height: 80px;
  font-size: 3rem;
  margin-top: 1px;
}

.navbar-title{
  display: block;
  padding: 2rem;
  text-indent: 30px;
  font-size: 3.5rem;
  text-decoration: none;
  color: rgb(39, 222, 39);
}

.main{
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: stretch;
  height: 1000px;
}

@media only screen and (max-width: 835px) {
  .main {
  flex-direction: column;
  flex-wrap: nowrap;
  }
  .main .container{
    width: 100%;
  }
}

.container {
  width: 20%;
  min-width: 167px;
  height: 100%;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

.container-text {
  font-size: 3.5rem;
  text-decoration: none;
  color: rgb(39, 222, 39);
}

.lunes{
  background-image: url(/sources/brazo.jpeg);
}

.martes{
  background-image: url(/sources/espalda.jpeg);
}

.miercoles{
  background-image: url(/sources/pierna.jpeg);
}

.jueves{
  background-image: url(/sources/pecho.jpeg);
}

.viernes{
  background-image: url(/sources/bicep.jpeg);
}